
@{

    Layout = "~/Views/Shared/_MovieLayout.cshtml";  <!-- Specifing the layout-->
}

<div>
    <table>
        <tr>
            <td>
                <a href="#">
                    <img class="media-object" src="~/Icon/images.jpg" alt="Movie Store" title="Movie Store">
                </a>
            </td>
            <td>
                <h2>Movie Store</h2>
                <p>View movies from Cinema world and Film World.</p>
                <p>
                    Get the cheapest price for the movies.
                </p>
            </td>
        </tr>
    </table>
</div>